


/* LanguageSwitcher */
#custom-language-select {
  font-size: 15px;
  background-color: transparent !important;
  border-radius: 2px;
  cursor: pointer;
  outline: none !important;
  border: none !important;       
  box-shadow: none !important;   
  font-family: inherit;
  color: #dc2626;
  font-weight: 900;
}

#custom-language-select:focus,
#custom-language-select:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

#custom-language-select:hover {
  border: none !important;
}



/* auto show section hide */
#google_translate_element,
.goog-te-gadget,
.goog-te-gadget-simple,
.goog-te-banner-frame,
.skiptranslate {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
  opacity: 0 !important;
}

/* google logo powerd by section hide  */
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

/* top section reset */
body {
  top: 20px !important;
  position: static !important;
}

/* google translate top frame reset */
iframe.skiptranslate {
  display: none !important;
}


@media screen and (max-width: 900px) {
  #custom-language-select {
    font-size: 16px;
    padding: 6px 10px;
    max-width: 160px;
    width: auto;
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 999;
    box-sizing: border-box;
    font-weight: 800 !important;
  }
}


